#map-container {
	width: 1280px;
	height: 720px;
	margin: auto;
	padding: 2rem;
	text-align: center;
	display : flex;
	justify-content: center;
}
#general-container {
	margin: auto;
	justify-content: center;
}
input[type=text] {
	width: 25%;
	padding: 12px 20px;
	margin: 8px 10px;
	box-sizing: border-box;
}

input[type=number] {
	width: 25%;
	padding: 12px 20px;
	margin: 8px 10px;
	box-sizing: border-box;
}
button {
	width: 25%;
	padding: 12px 20px;
	margin: 8px 10px;
	box-sizing: border-box;
}